# macOS
.DS_Store

# PDFs
*.pdf

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# VSCode
.vscode/

# Build artifacts
*.o
*.a
*.elf
*.bin

# STM32CubeIDE build output
stm32/**/Debug/
stm32/**/Release/
*.launch
*.list
*.map

# Audio recordings
*.wav

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.nupkg
